/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  font-size: 16px;
}

h1 {
  font-size: 35px;
  font-style: italic;
  color: #702963;
  font-family: Monospace, Monaco;
  text-align: center;
}

.big {
  height: 100px;
  width: 100px;
  background-color: green;
}

.title {
  height: 20px;
  width: 20px;
  color: black;
  margin: 10em;
}

.sizer {
  height: 50px;
  width: 50px;
}


